.chatbot-container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.chatbot-messages {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.user-message {
  background-color: #006d24;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.bot-message {
  background-color: #878787;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.chatbot-input {
  padding: 10px;
  border-top: 1px solid #ffffff;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
}
