.chatbot-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chatbot {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  height: 400px;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease;
}

.user-message {
  align-self: flex-end;
  background-color: #0099ff;
  color: #fff;
}

.bot-message {
  align-self: flex-start;
  background-color: #ecf0f1;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-button {
  height: 37px;
  width: 90px;
  margin-bottom: 9px;
  background-color: #ff1900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #ad2617;
}
